<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <div class="footer-wrapper">
        <div class="footer-logo">
            <img src="/assets/common/img/logo.png" alt="">
            <p>Pricety © 2024</p>
        </div>
        <div class="info">
            <p>This website is not affiliated, sponsored, or endorsed by Nike, Zalando, Hebe, Zara and House.
                All trademarks and logos are the property of their respective owners. The information on this
                site is collected solely for the purpose of providing price monitoring and notifications
                services, and any references to products or brands are for informational purposes only.</p>
        </div>
        <div class="socials">
            <a href="mailto:vicarycholewa@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="https://t.me/vicary1" target="_blank">
                <i class="fa-brands fa-telegram"></i>
            </a>
            <a href="https://github.com/vicaryy" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://twitter.com/VicarySW" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
</body>