<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://unpkg.com/htmx.org@1.9.4/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="account/css/style.css">
</head>

<body>
<div th:each="item: ${items}" class="item">
    <!--        <span>item nr. <span th:text="${item.id}"></span></span>-->
    <!--        <span>price: <span th:text="${item.price}"></span></span>-->
    <!--        <span>variant: <span th:text="${item.variant}"></span></span>-->
    <span th:text="${item}"></span>
</div>

<button hx-get="/hx-test"
        hx-target=".xd"
        hx-swap="afterbegin"
        hx-swap-delay="2000"
>click me!
</button>

<div>taki se o</div>
<div class="xd"><span>tutaj sie cos pojawi :></span></div>

<div th:replace="~{fragments/item.html :: items}"></div>
<!--<div th:replace="~{fragments/item.html :: content}"></div>-->

</body>
</html>









